<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/settings">Edit</a>
    <p>UserID: {{user_obj["UserID"]}}</p>
    <p>Username: {{user_obj["Username"]}}</p>
    <p>Email: {{user_obj["Email"]}}</p>
    <p>Roles:
        {% for role in user_obj["GlobalRoles"] %}
        <li>{{role}}</li>
        {% endfor %}</p>
    <p>SignUpDate: {{user_obj["SignUPDate"]}}</p>
</body>
</html>